:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

* {
  box-sizing: border-box;
}
a {
  font-weight: 500;
  color:#646cff;
  /* color: #774BB5; */
  /* color: #A27ADA; */
  /* color: #646cff; */
  text-decoration: inherit;
}
a:hover {
  color:#646cff;
  /* color: #A27ADA; */
  /* color: #535bf2; */
  text-decoration: underline;
}

body {
  /* margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px; */
  min-height: 100vh;
  background-color: #42b883;
}

h1 {
  margin: 0;
  padding: 0;
}

button {
  border: none;

}
